.custom-toolbar {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.spacer {
  flex: 1 1 auto;

}

.dashboard-container {
  padding: 30px;
/*  min-height: calc(100vh - 64px);*/
}

.dashboard-card {
  width: 85%;
  padding: 30px;
  border-radius: 16px;
  background: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.center-cell {
  text-align: center !important;
}


.tab-content {
  margin-top: 30px;
  display: flex;
  justify-content: center;


}


.full-width-table {
  width: 100%;
  margin-top: 20px;
  
}

.no-data {
  text-align: center;
  margin-top: 20px;
  color: gray;
}

.success-msg {
  margin-top: 15px;
  color: green;
  font-weight: 500;
}

table {
  border-radius: 12px;
  overflow: hidden;
}

th {
  font-weight: 600;
  background-color: #f4f6ff;
}

td, th {
  padding: 16px !important;
}
/* ================= CHAT STYLING ================= */

.chat-card {
  display: flex;
  flex-direction: column;
  height: 450px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  border-radius: 12px;
  background: #f9f9ff;
  border: 1px solid #e0e0f0;
  margin-bottom: 15px;
}

.message-item {
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  background-color: #e8ebff;
  width: fit-content;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-input {
  display: flex;
  gap: 10px;
}

.chat-textbox {
  flex: 1;
}



