.custom-toolbar {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.spacer {
  flex: 1 1 auto;

}

.dashboard-container {
  margin-top: 40px;
  padding: 30px;
  /*  background: linear-gradient(135deg, #667eea, #764ba2);*/
  /*  min-height: calc(100vh - 64px);*/
  height: auto;
}

.dashboard-card {
  width: 85%;
  padding: 30px;
  border-radius: 16px;
  background: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.center-cell {
  text-align: center !important;

}



.tab-content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}


.full-width-table {
  width: auto;
  margin-top: 20px;
  background-color: rgba(102, 126, 234, 0.00);
}

.no-data {
  text-align: center;
  margin-top: 20px;
  color: gray;
}

.success-msg {
  margin-top: 15px;
  color: green;
  font-weight: 500;
}

table {
  border-radius: 12px;
  overflow: hidden;
}

th {
  font-weight: 600;
  background-color: #f4f6ff;
}

td, th {
  padding: 16px !important;
}
/* ================= CHAT STYLING ================= */

.chat-card {
  display: flex;
  flex-direction: column;
  height: auto;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin: 20px;
  padding: 15px;
  border-radius: 12px;
  background: #f9f9ff;
  border: 1px solid #e0e0f0;
  margin-bottom: 15px;
/*  max-height: 400px;*/
}

.message-item {
  padding: 10px 12px;
  margin-bottom: 10px;
  background-color: rgb(72, 107, 251, 0.015);
  width: auto;
  /*  max-width: 70%;*/
  word-wrap: break-word;
  display: flex;
}
.sent {
  justify-content: flex-end;
}

.received {
  justify-content: flex-start;
}

.chat-bubble {
  padding: 10px 12px;
  border-radius: 14px;
  max-width: 80%;
  word-wrap: break-word;
}

.sent .chat-bubble {
  background-color: rgb(209, 231, 255);
}

.received .chat-bubble {
  background-color: rgb(235, 248, 233);
}

.sender {
  font-weight: bold;
  font-size: 12px;
}

.time {
  font-size: 10px;
  color: gray;
  margin-top: 5px;
}

.chat-input {
  display: flex;
  gap: 10px;
}

.chat-textbox {
  flex: 1;
  border-radius: 10px;
}
.logged-user {
  margin-right: 20px;
  font-weight: 100;
  font-size: 15px;
}
.chat-send-btn {
  border-radius: 10px !important;
}
