.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  border-radius: 0px;
}
.signup-card {
  width: 400px;
  margin: auto;
  padding: 25px;
}

.full-width {
  width: 100%;
}
